{% extends 'base.html' %}
{% load static %}


{% block title %} Django Delights {% endblock %}

{% block content %}
<h1 class="text-center text-muted my-4"> Ingredient: {{ title }}</h1>

<!--
<h1> {{ view.kwargs.pk }}</h1>
-->


<table class="table table-striped table-active">

<thead class="text-center">
    <th> r.id </th>
    <th> r.menu_item </th>
    <th> r.ingredient.id </th>
    <th> r.ingredient </th>
    <th> r.quantity </th>
    <th> Edit </th>
    <th> Delete </th>

</thead>
{% for r in RR %}
<p> {{ RR.kwargs.pk }}</p>
    {% if r.ingredient.pk == view.kwargs.pk %}
    <tr class="text-center">
        <td>{{ r.id }}</td>
        <!--<td>{{ r.menu_item }}</td>>-->
        <td> <a href="{% url 'reciperequirement' r.menu_item.id %}"> {{ r.menu_item.title }} </a> </td>
        <td>{{ r.ingredient.id }}</td>
        <td>{{ r.ingredient }}</td>
        <td>{{ r.quantity }}</td>
        <td> 
            <a class="btn btn-warning" href="{% url 'ingredientupdate' r.pk %}">
                <img src="/static/wrench.svg">
            </a> 
        </td>
        <td> 
            <a class="btn btn-danger" href="{% url 'ingredientdelete' r.pk %}">
                <img src="/static/x-circle.svg">
            </a> 
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>

<br><br>


{% endblock %}