{% extends 'base.html' %}
{% load static %}


{% block title %} Django Delights {% endblock %}

{% block content %}
<h1> Inventory </h1>

<table>

<tr>
    <th> Name </th>
    <th> Quantity </th>
    <th> Unit </th>
    <th> Unit Price </th>

</tr>
{% for ingredient in ingredient_list %}
<tr>
    <td>{{ ingredient.name }}</td>
    <td>{{ ingredient.quantity }}</td>
    <td>{{ ingredient.unit }}</td>
    <td>${{ ingredient.unit_price }}</td>
    <td> <a href="{% url 'inventoryupdate' ingredient.id %}">&#128509;</a> </td>
    <td> <a href="{% url 'inventorydelete' ingredient.id %}">&#128151</a> </td>
</tr>
{% endfor %}
</table>

<br>

<a href="{% url 'inventorycreate' %}">ADD</a> 

{% endblock %}