{% extends 'base.html' %}
{% load static %}


{% block title %} Django Delights {% endblock %}

{% block content %}
<h1> Menu </h1>

<table>

<tr>
    <th> Title </th>
    <th> Menu Item ID </th>
    <th> Price </th>
    <th> Edit </th>
    <th> Delete </th>
</tr>
{% for menuitem in menuitem_list %}
<tr>
    <td> <a href="{% url 'reciperequirement' menuitem.id %}"> {{ menuitem.title }} </a> </td>
    <td> {{ menuitem.id }}</td>
    <td>{{ menuitem.price }}</td>
    <td> <a href="{% url 'menuitemupdate' menuitem.id %}">&#128509;</a> </td>
    <td> <a href="{% url 'menuitemdelete' menuitem.id %}">&#128151</a> </td>
    
</tr>
{% endfor %}
</table>

<br>
<a href="{% url 'menuitemcreate' %}">ADD</a> <br><br>
<a href="{% url 'reciperequirementcreate' %}">Add RR</a>

{% endblock %}