{% extends 'base.html' %}
{% load static %}


{% block title %} Django Delights {% endblock %}

{% block content %}
<h1> Recipe Requirement </h1>


<!-- if r.menu_item.pk == request.resolver_match.kwargs.pk -->

<table>
    <tr>
        <th> Ingredient </th>
        <th> Quantity</th>
        <th> Unit Type </th>
        <th> ID </th>
        <th> Menu Item Foreign Key</th>
        <th> Ingredient Foreign Key</th>
    </tr>
    {% for i in ingredients %}
        <tr>
            <td>{{ i.ingredient }}</td>
            <td>{{ i.quantity }}</td>
            <td> {{i.ingredient.unit }}</td>
            <td> {{i.pk}} </td>
            <td> {{i.menu_item.pk}} </td>
            <td> {{i.ingredient.pk}} </td>
            
            

            
        </tr>

    {% endfor %}
</table>

<p> PRimary KEy: {{request.resolver_match.kwargs.pk}}</p>


{% endblock %}