{% extends 'base.html' %}
{% load static %}


{% block title %} Django Delights {% endblock %}

{% block content %}
<h1> {{ menu_item_instance.title }} </h1>
<h2> Recipe Requirement </h2>


<!-- if r.menu_item.pk == request.resolver_match.kwargs.pk -->

<table>
    <tr>
        <th> Ingredient </th>
        <th> Quantity</th>
        <th> Unit Type </th>
        <th> Unit Price </th>
        <th> RR - ID </th>
        <th> Menu Item Foreign Key</th>
        <th> Ingredient Foreign Key</th>
        <th> Update </th>
        <th> Delete </th>
    </tr>
 
    {% for i in ingredients %}
        <tr>
            <td>{{ i.ingredient }}</td>
            <td>{{ i.quantity }}</td>
            <td> {{i.ingredient.unit }}</td>
            <td> {{i.ingredient.unit_price }}</td>
            <td> {{i.pk}} </td>
            <td> {{i.menu_item.pk}} </td>
            <td> {{i.ingredient.pk}} </td>
            <td> <a href="{% url 'reciperequirementupdate' i.pk %}">&#128509;</a> </td>
            <td> <a href="{% url 'reciperequirementdelete' i.pk %}">&#128151</a> </td>
        </tr>

    {% endfor %}
</table>

<p>Menu Item Cost: ${{menu_item_money.menu_item_cost}} </p>
<p>Menu Item Price: ${{menu_item_money.menu_item_price}} </p>
<p>Menu Item Profit: ${{menu_item_money.menu_item_profit}} </p>

<p> PRimary KEy: {{request.resolver_match.kwargs.pk}}</p>

<br>

<p> 
    <a class=mybutton href="{% url 'reciperequirementcreate' request.resolver_match.kwargs.pk %}">
        Add Recipe Requirement for ... {{ menu_item_instance.title }}
    </a> 
</p>
<p> 
    <a class=mybutton href="{% url 'menuitemupdate' request.resolver_match.kwargs.pk %}"> Edit </a> 
</p>
<p> 
    <a class=mybutton href="{% url 'menuitemdelete' request.resolver_match.kwargs.pk %}"> Delete </a> 
</p>






{% endblock %}