{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        
        <link 
            rel="stylesheet" 
            type="text/css"
            href="{% static 'inventory/style.css' %}" 
        />

        <title>{% block title %} Django Delights {% endblock %}</title>

        {% block head %} {% endblock %}
    </head>
    <body>
        <h1> Django Delights! </h1>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'inventory' %}">Inventory</a></li>
            <li><a href="{% url 'purchases' %}">Purchases</a></li>
        </ul>

        {% block content %}
        {% endblock %}
    </body>

</html>