{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <title>{% block title %} Django Delights {% endblock %}</title>

        <style>
            @keyframes example {
                0%   {background-color:red; left:0px; top:0px;}
                25%  {background-color:yellow; left:200px; top:0px;}
                50%  {background-color:blue; left:200px; top:200px;}
                75%  {background-color:green; left:0px; top:200px;}
                100% {background-color:red; left:0px; top:0px;}
            }
            .svg-white {
                fill: white;
            }
        </style>
        
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        
        <!--
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        -->

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% block head %}{% endblock %}
    </head>
    <body style="background-color: #f8f9fa;">
        
        <!-- Navbar -->
        <nav class="navbar navbar-light navbar-expand-md text-muted">

            <nav class="navbar-brand border border-active rounded mx-2">
                <a href="{% url 'home' %}"> 
                    <img src="/static/clemenza_notsq.jpg"> 
                </a>
            </nav>  
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'menu' %}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'ingredient' %}">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'purchases' %}">Purchases</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Jumbotron -->
        <div class="jumbotron-fluid border" 
            style="background-image: url('/static/pie-slice.jpg'); 
            background-size: cover; 
            background-position: center;
            padding: 5% 0">
            
            <div class="text-center text-muted" 
                style="
                -webkit-text-stroke-width: .1px; 
                -webkit-text-stroke-color: white;
                background-color: #00e9cc; 
                ">
                <h1> Django Delights! </h1>
                <p class="font-weight-bold text-uppercase"> To meet all your desert needs! </p>
            </div>
        </div>
        
        <!-- Animation -->
        <!--
        <div style="width: 100px;
                    height: 100px;
                    background-color: red;
                    position: relative;
                    animation-name: example;
                    animation-duration: 4s;">
            
        </div>
    -->

        

        <!-- Webpage Content -->
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </body>


    
</html>