html {
    background-color: gray;
}

h1 {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: #00e9cc;
}