html {
    background-color: gray;
}

h1 {
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color:#00e9cc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: #00e9cc;
}